/*Background Image*/
html {
    background-image: url("../Pictures/back.jpg");
    background-image: no-repeat;
}

/* Bordered form */
form, h2{
    border: 3px;
    margin: auto;
    width: 25%;
    font-weight: bold;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* for header */
h2{
    border: 3px;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

/* button in congrats page */
ul{
  text-align: center;
}

/*button in congrats page */
#b2 {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 25%;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}


/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 25%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 1px;
}

p{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: red;
}
